body {
    font-family: 'Exo 2', sans-serif;
}

.navbar-brand img {
    max-height: none;
    border-radius: 50%;
}

.anchor {
    position: relative;
}

.anchor > span {
    position: absolute;
}   

#me {
    background-color: hsl(0, 0%, 98%);
    border-radius: 5px;
    margin-top: 0.8rem;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

ul.is-square-type {
    list-style-type: square;
}

.is-line-through  {
    text-decoration: line-through;
}

.card:hover {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 20%);
}

.splide__pagination__page {
    position: relative;
    top: 28px;
}

.splide__pagination__page.is-active {
    background-color: black;
    transform:scale(1.2);
}



@media (min-width: 1024px) {
    .navbar {
        padding-top: 1em;
    }

    .navbar-menu {
        height: 60px;
        align-self: center;
        font-weight: bold;
    }

    .navbar-item {
        padding: 10px;
    }

    .footer {
        padding: 3em 1.5em;
    }

    main {
        padding-top: 9em;
    }

    .anchor > span {
        top: -10em;
    }

    i.fab, i.fas {
        margin-right: 3px;
    }

    #me {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .card {
        height: 100%;
    }

    .section {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

@media (max-width: 1023px) {
    .navbar {
        padding-top: 0.5em;
    }
    
    .navbar-burger:hover {
        background-color: white;
    }

    .navbar-burger {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0;
    }

    .is-left-margin-auto {
        margin-left: auto;
    }

    .navbar-start .navbar-item {
        text-align: center;
    }

    .footer {
        padding: 1.5em;
    }

    main {
        padding-top: 5em;
    }

    .anchor > span {
        top: -5.5em;
    }

    .section {
        padding: 0.5rem 1.5rem;
    }

    #me {
        margin-left: 0;
        margin-right: 0;
    }

    body {
        overflow-x: hidden;
    }

}